.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 60px;
  color: #1d4ed8;
}

p {
  margin-top: 10px;
  font-size: 22px;
  color: #555;
}